<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentoroomMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="mentoroom_id">
	    INSERT mentoroom (team_name, team_about, team_theme, team_link, mento_id)
	    VALUES (#{team_name}, #{team_about}, #{team_theme}, #{team_link},#{mento_id})
    </insert>
     
    <select id="findAll" resultType="Mentoroom">
	    SELECT m.*, u.user_name
	    FROM mentoroom m JOIN user u
	    ON m.mento_id = u.user_id
	    ORDER BY mentoroom_id DESC
    </select>
    
    <update id="updatePersoncount">
	    UPDATE mentoroom
	    SET person_count = person_count + 1
	    WHERE mento_id = #{mento_id}
    </update>
 
       
</mapper>